* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}
@font-face {
  font-family: 'SF Pro Text';
  src: url('../../../public/fonts/SF-Pro-Text-Regular.otf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Text';
  src: url('../../../public/fonts/SF-Pro-Text-Medium.otf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Text';
  src: url('../../../public/fonts/SF-Pro-Text-Semibold.otf');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Text';
  src: url('../../../public/fonts/SF-Pro-Text-Bold.otf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../../../public/fonts/SF-Pro-Display.otf');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

div, h1, h2, h3, h4, h5, span, i, font, table, td, input, option, label {
  /*font-family: 'SF Pro Text','SF Pro Display' !important;*/
}

INPUT, SELECT, OPTION {
  color: black!important;
}

@media (min-width: 1280px) {
  body {
    background-color:#F7F7FC;
  }
}

.DraftEditor-root span {
  font-family: SF Pro Text;
  /* font-size: 12px; */
  line-height: 14px;
  color: #000000;
  border: none;
  outline: none;
}

.public-DraftStyleDefault-block {
  font-size: 12px;
}
.DraftEditor-root li::marker {
  font-family: SF Pro Text;
  /* font-size: 12px; */
  line-height: 14px;
  color: #000000;
  border: none;
  outline: none;
}

.public-DraftEditorPlaceholder-inner {
  position: absolute;
  pointer-events: none;
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  border: none;
  outline: none;
}

.MuiInput-underline:before {
  border-bottom: unset !important;
}
.MuiInput-underline:after {
  border-bottom: unset !important;
}

.MuiAutocomplete-endAdornment {
  display: none;
}

.alpha-list > div:last-child > div {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 500;
  font-size: 18px !important;
  color: black !important;
  right: unset !important;
  left: calc(100% - -5px) !important;
}

/**
Patient/Provider registration section
*/
.group_mark_open {
  background: url('../../../public/assets/images/ico-group-plus.png') 10px center  no-repeat;
}
.group_mark_close {
  background: url('../../../public/assets/images/ico-group-minus.png') 10px center  no-repeat;
}

.menu>.list .one.selected {
  color: #173FD4;
  border-radius:14px;
  background-color:#E7F3FF;
}

/**
Patient/Provider registration section
*/

.transparent-btn-jin {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

/*
  * Customize MUI Select
  */
.MuiInputBase-root  {
  color: black;
  font-weight: 400;
  font-family: SF Pro Text!important;
  font-size: 16px!important;
}
.MuiInputBase-root .MuiSelect-select {
  padding-left:5px;
}
.MuiInputBase-root .MuiOutlinedInput-notchedOutline {
  border: 0!important;
}

.MuiList-root.MuiMenu-list {
  border: 1px solid black;
  box-shadow: none;
  border-radius: 5px;
  padding: 0;
  box-shadow: none;
}
.MuiList-root.MuiMenu-list .MuiMenuItem-root {
  color: black;
  font-weight: 400;
  font-family: SF Pro Text!important;
  font-size: 16px!important;
}
.MuiList-root.MuiMenu-list .MuiMenuItem-root.MuiButtonBase-root {
  border-bottom: 1px solid #eee;
  text-align: left;
  padding-left: 8px;
  align-items: end;
}
.MuiList-root.MuiMenu-list .MuiButtonBase-root.Mui-selected {
  background-color: transparent!important;
  color: #173FD4;
  font-weight: 300;
  font-size: 32px!important;
  padding-left: 16px;
}
/*
* Customize MUI Select
*/


